// układ headera
.header {
  background: linear-gradient(0.25turn, rgba($spec-light, 0.8), rgba($spec-dark, 0.8)), url(../img/igor-ovsyannykov-530800-unsplash.jpg);
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-position: top;
  background-size: cover;
  position: relative;
  
  &__logo {
    position: absolute;
    color: white;
    top: 5rem;
    left: 5rem;
    .logo-icon {
      font-size: 12rem;
    }
  }
}

// pozycja boxa
.header-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}