.card {
  background-color: white;
  height: 50rem;
  box-shadow: 0 1rem 3rem rgba(black, .5);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  transition: all 1s;

  &__image {
    height: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background: linear-gradient(0.25turn, rgba(#ef3b36, 0.8), rgba(#ffffff, 0.8)), url(../img/pizza.jpg);
      background-size: cover;
    }

    &--2 {
      background: linear-gradient(0.25turn, rgba($spec-light, 0.8), rgba($spec-dark, 0.8)), url(../img/mieso.jpg);
      background-size: cover;
    }

    &--3 {
      background: linear-gradient(0.25turn, rgba(#304352, 0.8), rgba(#d7d2cc, 0.8)), url(../img/nugget.jpg);
      background-size: cover;
    }
  }

  &:hover {
    transform: rotateY(180deg);
    perspective: 150rem;
  }

  &__header {
    position: absolute;
    top: 30%;
    left: 0;
    color: white;
    padding: 1rem;
    font-size: 2.7rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
  }

  &__header-span {
    padding: 1rem;

    &--1 {
      background: linear-gradient(0.25turn, rgba(#ef3b36, 0.8), rgba(#ffffff, 0.8));
      width: 60%;
    }

    &--2 {
      background: linear-gradient(0.25turn, rgba($spec-light, 0.8), rgba($spec-dark, 0.8));
      width: 60%;
    }

    &--3 {
      background: linear-gradient(0.25turn, rgba(#304352, 0.8), rgba(#d7d2cc, 0.8));
      width: 60%;
    }
  }

  &__features {
    text-align: center;
    list-style: none;
    width: 80%;
    margin: 4rem auto;

    li {
      margin: 1.8rem;
      border-bottom: .1rem solid $spec-grey;
    }
  }
}