.card {
  position: relative;
  height: 50rem;
  perspective: 150rem;

  @include mq(m) {
    max-width: 40rem;
    margin: 0 auto;
  }


  &__side {
    height: 50rem;
    width: 100%;
    position: absolute;
    transition: all 1s;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 0 1rem 3rem rgba(black, .5);
    border-radius: .5rem;
    overflow: hidden;

    &--front {
      background: white;
    }

    &--back {
      transform: rotateY(180deg); //very important to work properly
      text-align: center;

      &-1 {
        background: linear-gradient(0.25turn, rgba(#EECDA3, 0.8), rgba(#EF629F, 0.8));
      }
      &-2 {
        background: linear-gradient(0.25turn, rgba($spec-dark, 0.8), rgba($spec-light, 0.8));
      }
      &-3 {
        background: linear-gradient(0.25turn, rgba(#d7d2cc, 0.8), rgba(#304352, 0.8));
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__image {
    height: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &--1 {
      background: linear-gradient(0.25turn, rgba(#EF629F, 0.8), rgba(#EECDA3, 0.8)), url(../img/pizza.jpg);
      background-size: cover;
    }
    &--2 {
      background: linear-gradient(0.25turn, rgba($spec-light, 0.8), rgba($spec-dark, 0.8)), url(../img/mieso.jpg);
      background-size: cover;
    }
    &--3 {
      background: linear-gradient(0.25turn, rgba(#304352, 0.8), rgba(#d7d2cc, 0.8)), url(../img/nugget.jpg);
      background-size: cover;
    }
  }

  &__header {
    position: absolute;
    top: 30%;
    left: 0;
    color: white;
    padding: 1rem;
    font-size: 2.7rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;

    @include mq(l) {
      top: 25%;
    }
  }

  &__header-span {
    padding: 1rem;
    &--1 {
      background: linear-gradient(0.25turn, rgba(#EF629F, 0.8), rgba(#EECDA3, 0.8));
      width: 60%;
    }
    &--2 {
      background: linear-gradient(0.25turn, rgba($spec-light, 0.8), rgba($spec-dark, 0.8));
      width: 60%;
    }
    &--3 {
      background: linear-gradient(0.25turn, rgba(#304352, 0.8), rgba(#d7d2cc, 0.8));
      width: 60%;
    }
  }

  &__features {
    text-align: center;
    list-style: none;
    width: 80%;
    margin: 4rem auto;
    li {
      margin: 1.8rem;
      border-bottom: .1rem solid $spec-grey;
    }
  }

  &__btn {
    margin-top: 20rem;
  }
}