.newsletter-form {
  padding: 0 12rem;

  &__label {
    display: block;
    margin-bottom: 1rem;
    transform: translateY(-3rem);
    opacity: 0;
    transition: all .8s;
  }

  &__input {
    display: block;
    height: 4rem;
    width: 25rem;
  }
}