.newsletter-form {
  margin-left: 3rem;
  width: 50%;
}

.form-duo {
  margin-bottom: 1rem;
  position: relative;

  &--radio {
    width: 40%;
    display: inline-block;
    margin-left: 1rem;
    margin-bottom: 3.2rem;
  }

  &__input {
    width: 80%;
    padding: 1rem;
    display: block;
    border: none;
    border-radius: .5rem;
    font-size: 1.6rem;
    border-bottom: 3px solid transparent;
    transition: all .5s;

    &:focus {
      outline: none;
      border-bottom: 3px solid $spec-dark;
    }

    &:focus:invalid {
      border-bottom: 3px solid orangered;
    }
  }

  &__label {
    display: block;
    font-size: 1.6rem;
    margin-left: 1rem;
    color: rgb(68, 67, 67);
    transform: translateY(-3rem);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
  }

  &__input:focus ~ &__label {
    opacity: 1;
    visibility: visible;
    transform: translateY(0rem);
  }

  &__radio {
    display: none;
  }

  &__new-radio {
    position: absolute;
    top: .4rem;;
    left: 0;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    border: 3px solid $spec-dark;
    border-radius: 50%;

    &::after {
      content: "";
      display: inline-block;
      height: 1.8rem;
      width: 1.8rem;
      position: absolute;
      top: .3rem;
      left: .3rem;
      border: 3px solid $spec-dark;
      background-color: $spec-dark;
      border-radius: 50%;
      opacity: 0;
      transition: all .5s;
    }
  }

  &__radio:checked + &__radio-label &__new-radio::after {
    opacity: 1;
  }

  &__radio-label {
    display: inline-block;
    padding-left: 4rem;
    font-size: 2rem;
    cursor: pointer;
  }





  &__input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &__input:focus:-moz-placeholder {
    color: transparent;
  }
  /* FF 4-18 */
  &__input:focus::-moz-placeholder {
    color: transparent;
  }
  /* FF 19+ */
  &__input:focus:-ms-input-placeholder {
    color: transparent;
  }
  /* IE 10+ */
  // Dodatkowo można wykorzystać selektor input:placeholder-shown
}