.about-galery {
  position: relative;

  &__photo {
    width: 50%;
    transition: all .5s;
    position: absolute;
    box-shadow: 0 1rem 3rem rgba(black, .5);

    @include mq(l) {
      width: 45%;
    }

    &:hover {
      transform: scale(1.2);
      z-index: 1;
      outline: .8rem solid $spec-dark;
      outline-offset: .8rem;

      @include mq(l) {
        transform: scale(1.1);
      }
    }

    &--1 {
      top: 0;
      left: 0;
    }
  
    &--2 {
      top: 5rem;
      right: 0;
    }
  
    &--3 {
      top: 15rem;
      left: 30%;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.8);
    opacity: .8;
  }
}