// show from the left
@keyframes showFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// show from the right
@keyframes showFromRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// show from the bottom
@keyframes showFromBottom {
  0% {
    opacity: 0;
    transform: translateY(15rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}