.section-about {
  margin-top: -14rem;
  padding-top: 16rem;
  margin-bottom: -14rem;
  padding-bottom: 16rem;
  background-color: #f7f7f7;
}

.section-features {
  padding-top: 25rem;
  padding-bottom: 20rem;
  background: linear-gradient(0.25turn, rgba($spec-light, 0.8), rgba($spec-dark, 0.8)), url(../img/igor-ovsyannykov-530800-unsplash.jpg);
  background-size: cover;
  height: 90rem;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.section-cards {
  background-color: #f7f7f7;
  margin-top: -14rem;
  padding-top: 20rem;
  margin-bottom: -14rem;
  padding-bottom: 16rem;
}

.section-comments {
  margin-top: 20rem;
}