.section-about {
  margin-top: -14rem;
  padding-top: 16rem;
  margin-bottom: -14rem;
  padding-bottom: 16rem;
  background-color: #f7f7f7;
}

.section-features {
  padding-top: 25rem;
  padding-bottom: 20rem;
  background: linear-gradient(0.25turn, rgba($spec-light, 0.8), rgba($spec-dark, 0.8)), url(../img/igor-ovsyannykov-530800-unsplash.jpg);
  background-size: cover;
  height: 90rem;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.section-cards {
  background-color: #f7f7f7;
  margin-top: -14rem;
  padding-top: 20rem;
  padding-bottom: 10rem;
}

.section-comments {
  padding-top: 6rem;
  padding-bottom: 2rem;
  position: relative;
}

.section-newsletter {
  background: linear-gradient(0.25turn, rgba($spec-light, 0.8), rgba($spec-dark, 0.8));
  padding: 25rem 0;

  .newsletter-container {
    background: linear-gradient(0.30turn, rgba(white, 0.8) 50%, transparent 50%), url(../img/igor-ovsyannykov-530800-unsplash.jpg);
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(black, .5);
    height: 40rem;
    border-radius: .8rem;
  }
}